#title {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
}

.centered-btn-container {
    text-align: center;
    width: 100%;
}

.center-btn {
    margin: auto;
}

body {
    width: 300px !important;
    height: 200px !important;
}

.navbar {
    padding: 10px 0px !important;
}

.title-container {
    display: table;
}